@tailwind base;
@tailwind components;
@tailwind utilities;

textarea, input { outline: none; }

@font-face {
    font-family: 'vazir';
    src: url('@/assets/fonts/Vazirmatn-Medium.ttf') format('truetype'),
    url('@/assets/fonts/Vazirmatn-Medium.woff2') format('truetype');
}

body {
    font-family: 'vazir', sans-serif;
    @apply bg-[#EDEEF3];
    direction: rtl;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}
